.table {
  text-align: center;
  height: 28vh;
  width: 80%;
  min-width: 36%;
}

button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0);
  border-radius: 20px;
  text-align: center;
  height: 35px;
  width: 35px;
  font-size: 35px;
}
button:hover {
  box-shadow: 12px 6px 6px greenyellow;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  border: 0;
  padding: 0;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

input[type=number] {
  background: rgba(255, 255, 255, 0);
  border-radius: 999rem;
  height: 59px;
  width: 59px;
  text-align: center;
  -moz-appearance: textfield;
}
input[type=number]:focus-visible {
  outline: none;
}

input[type=button] {
  background: rgba(255, 255, 255, 0);
  font-size: 30px;
}

body {
  background: #ffffff;
}

.head__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 2px 12px rgba(62, 202, 7, 0.7607843137);
}

.sel, .add {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sel__esp, .add__milk, .add__crm, .add__lat, .sel__cap, .sel__lat {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
}
.sel__esp--text, .add__milk--text, .add__crm--text, .add__lat--text, .sel__cap--text, .sel__lat--text {
  font-size: 16px;
  padding: 0px 10px 0px 0px;
}

.bill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
